bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.user
.vs/BeatSaberMultiplayerChat/DesignTimeBuild/.dtbcache.v2
.vs/BeatSaberMultiplayerChat/FileContentIndex/a517a0f7-441d-450d-921f-1dbce272c6db.vsidx
.vs/BeatSaberMultiplayerChat/FileContentIndex/b1237ea9-5d73-4427-bf85-a8820372f8bb.vsidx
.vs/BeatSaberMultiplayerChat/FileContentIndex/ec38e6bc-75d4-4bb9-b8b1-3d0eaeaf95d1.vsidx
.vs/BeatSaberMultiplayerChat/FileContentIndex/read.lock
.vs/BeatSaberMultiplayerChat/v17/.futdcache.v1
.vs/BeatSaberMultiplayerChat/v17/.suo
.vs/ProjectEvaluation/beatsabermultiplayerchat.metadata.v2
.vs/ProjectEvaluation/beatsabermultiplayerchat.projects.v2
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
MultiplayerChat.csproj
MultiplayerChat.csproj
*.vsidx
